body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    border: 2px double brown;
}
