body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f0f8ff;
    color: #333; 
    padding: 20px;
}

img {
    border: 4px double #8b4513;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}
